@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap");

@layer base {
  :root {
    --white-color: #fff;
    --black-color: #010f34;
    --heading-color: #01133c;
    --body-color: #666666;
    --ternary-color: #88a5ad;
    --accent-color: #ef0f3a;
    --gray-color: #f5f7fa;
    --gray2-color: #e8ebee;
    --border-color: #ecf1f5;
  }
}
